# Fichier .gitignore pour le SimCraft Engine (approche par liste noire)
# Ce fichier liste explicitement les dossiers et fichiers à ignorer.
# Tout ce qui n'est pas dans cette liste sera suivi par Git.

# --- Fichiers et dossiers de projet RPG Maker à ignorer ---
# Dossier de brouillon et backup
backup/
project/js/plugins/SC_WIP/

# Dossier de sauvegarde
project/save/

# Dossiers de ressources (assets)
project/effects/
project/fonts/
project/icon/
project/img/tilesets/
project/img/parallaxes/
project/img/faces/
project/img/battlers/
project/img/characters/
project/img/sv_actors/
project/img/sv_enemies/
project/img/enemies/
project/img/animations/
project/img/pictures/
project/img/titles1/
project/img/titles2/
project/img/battlebacks1/
project/img/battlebacks2/


project/movies/
project/css/

# Fichiers de données de base de RMMZ (on ne garde que nos scripts)
#project/data/*.json

# Fichiers de base des plugins de RMMZ (on ne garde que nos scripts)
project/js/libs/
project/js/main.js
project/js/rmmz_*.js
project/js/plugins/========*.js

# --- Fichiers de développement et système ---
project/game.rmmzproject
project/index.html

# Dépendances Node.js
node_modules/

# Fichiers de log
*.log

# Fichiers de configuration d'IDE
.vscode/
.idea/

# Fichiers système d'exploitation
.DS_Store
Thumbs.db