RewriteEngine On
RewriteBase /

# Ne pas réécrire les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrire toutes les autres requêtes vers index.php
RewriteRule ^(.*)$ index.php?_url=/$1 [L,QSA]
